.container-fluid {
  background-color: #abeafa;
}

.container {
    background-color: coral;
}

.yellow-box {
  background-color: #fff51f;
  color: black;
}

.yellow {
    color: #fff51f;
}

.social {
    color: white;
}
